$main-green: #35CD8C;
$bg-light: #fff5ec;
$bg-dark: #FFEDDE;
$font-blue: #2E266F;
$font-grey: #707070;
$user-green: #31A24C;
$hover-red: #FE043C;
$black: #000;
$my-transition: cubic-bezier(1,.49,.15,.89);
$shadow-color: #f3e2d3;